/* =====================================
  NetCommunity Spark Theme Two
======================================== */
/*
 * Areas that can be customized with Theme Two:
 * 
 * 1. Utility Bar
		
 * 2. Site Logo
		
 * 3. Main Navigation
 
 * 4. Internal Menu
 
 * 5. Footer Contact & Menu
 
 * 6. Donate Now Button
 
 * 7. Main Page Background
 
 *
 */
 
 
/* ======================================
    GLOBAL TYPOGRAPHY
======================================== */
h1, *.SurveyTitle, *.ReportTitle, *.NCC_Forms_Title, *.SearchFormTitle, *.EventCalendarName, *.BBMembershipFormTitle, *.BBDocumentFormTitle, *.DiscussionGroupFormTitle, *.JobBoardFormTitle, *.ReportTitle, *.heading {
	color: #bc1c19;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size:35px;
	text-transform: none;
	letter-spacing: normal;
	margin: 0 0 6px;
}
*.SurveyTitle, *.ReportTitle, *.NCC_Forms_Title, *.SearchFormTitle, *.EventCalendarName, *.BBMembershipFormTitle, *.BBDocumentFormTitle, *.DiscussionGroupFormTitle, *.JobBoardFormTitle {
	padding: 0 0 6px;
}
h2, *.LoginSectionHeader, *.LoginFormTitle, *.DonationListingHeading, *.DonationCaptureListingHeading, *.CalendarFormLegend, *.ListViewDateLabel, *.CalendarViewTopMiddle, *.EventSectionHeader, *.DetailCaption, *.NewsReaderFormTitle, *.ProfileFormTitle, *.UpcomingEventTitle, *.RecentEventTitle, *.SubscriptionFormTitle, *.BBAnonymousSubscriptionTitle, *.BBMembershipFormTitle, *.DirectoryFormTitle, *.BBVolOpJobListTitle, *.BBVolOpJobDetailTitle, *.NewsChannelFormTitle, *.PostChannelStoryFormTitle, *.SpellFormTitle, *.BBPollsFormTitle, *.BBNotesTitle, *.ECardWizardHeading, *.ReportsLandingTable caption, *.DiscussionGroupHeadingText, *.SearchJobHeading, *.JobResultsHeading, .myHomeBox th.right {
	color: #bc1c19;
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
	font-size:21px;
	margin: 0 0 6px;
	text-transform: none;
}
h2 a {
	color: #bc1c19 !important;
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
	font-size: 21px;
	margin: 0 0 6px;
	text-transform: none;
}
#internal.home h2 {
	color: #0575b6;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 15px;
	font-family: 'Libre Baskerville', serif;
}
/* Header td cells that require padding instead of margin */
*.LoginSectionHeader, *.LoginFormTitle, *.DonationListingHeading, *.DonationCaptureListingHeading, *.CalendarFormLegend, *.DirectoryFormTitle, *.CalendarFormLegend, *.ProfileFormTitle, *.DiscussionGroupHeadingCell, *.BBPollsFormTitle, *.NewsChannelFormTitle {
	padding-bottom: 6px;
}
h3, *.ListViewEventDate, *.EventItemTitleTime, *.EventItemTitleName, *.EventItemRegistrationsHeader, *.EventItemRegistrantsEventName, *.NewsChannelItemTitle, *.ReportListingHeading, .myHomeBox th.right {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:14px;
}
#contentSecondary h4 {
	color: #496c62;
	font-weight: bold;
}
h4 {
	color: #423833;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size:12px;
	text-transform:uppercase;
}
h5 {
	color: #423833;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}
h6 {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}
/* =Other Text Colors
============================== */
body, *.ListViewEventSubtitle, *.ListViewEventTime, *.ListViewEventLocation, *.BBFormSelectList, *.BBFormTextArea, *.BBFormTextbox, *.DiscussionGroupMessage, *.DiscussionGroupHeadingText, *.DiscussionTopicListHeader, *.BBNotesTextBox, #wrapFooter h3, #wrapNav .mainNav li .nccUlMenuSub1 li a, *.EventItemTitleDescription {
	color:#454545;
	font-family: 'Open Sans', sans-serif;
}
a, a:link, a:visited, a:active, *.JobBoardSearchLink:link, *.JobBoardSearchLink:visited, *.JobBoardPostLink:link, *.JobBoardPostLink:visited, *.JobDetailLink:link, *.JobDetailLink:visited, *.JobResultsLink:link, *.JobResultsLink:visited, *.DiscussionFooterLink:link, *.DiscussionFooterLink:visited, *.DiscussionTopicLink:link, *.DiscussionTopicLink:visited, *.BBNameLink:link, *.BBNameLink:visited, table.ReportFormTable legend {
	color:#454545;
	text-decoration:none;
}
a:hover, *.JobBoardSearchLink:hover, *.JobBoardPostLink:hover, *.JobDetailLink:hover, *.JobResultsLink:hover, *.DiscussionFooterLink:hover, *.DiscussionTopicLink:hover, *.BBNameLink:hover {
	color:#454545;
	text-decoration:underline;
}
a:empty {
	display: none !important;
}
.BBDocumentDisplayTable a {
	color: #fff;
}
/* ====================================== 
 * UTILITY BAR
======================================== */

#headerUtility .menu a {
	color: #fff;
	text-decoration:none;
	padding: 0 10px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 24px;
	border-right: 1px solid #fff;
}
#headerUtility .menu a:hover {
	text-decoration: underline;
}
/* ====================================== 
 * HEADER BACKGROUND
======================================== */

#wrapHeader, *.emailHeader {
	background: transparent;
}
/* ====================================== 
 * MAIN NAVIGATION
======================================== */

#wrapNav {
	background: transparent;
	border-bottom: none;
	float: left;
}
#wrapNav .menu li {
	text-align:center;
}
#wrapNav .menu li a {
	font-size: 17px;
	color: #fff;
	font-weight: bold;
	padding: 18px 20px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
#wrapNav .menu li:hover, #wrapNav .menu li.selected {
	background: #bb1c19;
}
#wrapNav .menu li:hover a, #wrapNav .menu li a.selected {
	text-decoration: none;
	color: #ffffff;
	background: transparent;
}
/* ====================================== 
 * INTERNAL MENU
======================================== */

#contentSecondary .menu li a {
	display: block;
	padding: 10px 0 10px 10px;
	color: #727272;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
}
#contentSecondary .menu li:hover a,  #contentSecondary .menu li.selected a {
	padding: 5px 0;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	color: #bc1c19;
	font-family: 'Libre Baskerville', serif;
}
/* ====================================== 
 * FOOTER CONTACT & MENU
======================================== */

#wrapFooterCopy {
	background: none;
	color: #555555;
	padding: 20px 0;
}
/* ====================================== 
 * DONATE NOW BUTTON
======================================== */

#donateButton {
	width:auto;
	position:absolute;
	top:50px;
	right:20px;
	background:#FCA74F;
	border-radius:16px;
	white-space:nowrap;
}
#donateButton a {
	text-align:center;
	background:-moz-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.2) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.2)));
	background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.2) 100%);
	background:-o-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.2) 100%);
	background:-ms-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.2) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#33000000', GradientType=0);
	background:linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.2) 100%);
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:#fff;
	padding:12px 12px;
	border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border:1px solid #171717;
	-moz-box-shadow:0 1px 3px rgba(000,000,000,0.5), inset 0 0 10px rgba(087,087,087,0.7);
	-webkit-box-shadow:0 1px 3px rgba(000,000,000,0.5), inset 0 0 10px rgba(087,087,087,0.7);
	text-shadow:0 -1px 0 rgba(000,000,000,0.4), 0px 1px 0 rgba(255,255,255,0.3);
}
#donateButton a:hover, #donateButton a.hover {
	background:#557f55;
	text-decoration:none;
}
/* ====================================== 
 * MAIN PAGE BACKGROUND
======================================== */

#BodyId {
	background: #fff;
}
/* =CUSTOM COLORS
============================== */
*.BBCalendarTitle, *.BBCalendarNextPrev, *.BBCalendarDayHeader, *.ReportCalendarSelector, #contentSecondary *.mainMenuHover a, #contentSecondary .mainMenuHover a:link {
	background-color: #496c62; /* Color for header gradient */
}
/* Selectors for table headers */
*.BBModalDialogTitle, *.CHDashBoardSectionHeading, *.ECardSectionSeparator, *.CalendarViewDayHeader, *.FRDashBoardSectionHeading, *.FRManagerDashBoardSectionHeading, *.TransactionManagerGridHeaderCell, *.TransactionManagerSummaryHeaderRow, *.DirectoryListingHeading, *.DiscussionTopicListHeader td, *.SurveyAnswerTableHeaderRow td, *.BBDocumentDisplayHeaderRow, *.JobResultsListHeader, *.BBNotesNoteTopicCell, *.BBNotesNoteNameCell, *.BBNotesNoteLinkCell, *.BBNotesNoteDateCell, *.ReportListingHeading, *.BBVolOpJobListHeader, *.TransactionManagerGridHeaderCell, *.TransactionManagerSummaryHeaderLabel, *.TransactionManagerSummaryHeaderValue, *.BBVolOpJobListHeader td, *.DonationGridHeader td, *.PaymentPartGrid_Header {
	background-color: #BC1C19;
	color: #ffffff;
	padding: 3px 0 3px 3px;
	text-align: left;
}
/* Border Colors */

*.DirectoryListingHeading a {
	color: #ffffff;
	text-decoration: none;
}
/* =Headings and Font Tags
============================== */
h1 {
	margin: 0 0 0.5em;
}
h2 {
	margin:0 0 0.5em;
	clear:both;
}
h3 {
	margin:0 0 0.5em;
	clear:both;
}
h4 {
	margin:0 0 0.5em;
	font-weight: normal;
	clear:both;
}
h5 {
	margin:0 0 0.5em;
	clear:both;
}
h6 {
	margin:0 0 0.5em;
	font-weight:normal;
	clear:both;
}
p {
	margin:0;
	padding:0 0 1.4em;
	font-size: inherit;
}
#contentSecondary p {
	line-height: 1.67em;
	font-size: 11px;
}
/* =List Styles
============================== */
* html ol {
	margin:0 0 0 5px;
}
*:first-child+html ol {
	margin:0 0 0 5px;
}
ul {
	list-style-position: outside;
	padding: 0 0 1.5em 2em;
	margin: 0;
	list-style: disc;
}
ul ul {
	padding-bottom: 0;
	margin: 0;
}
ul li {
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}
ol {
	list-style-position: outside;
	list-style:decimal;
	padding: 0 0 1.5em 2em;
	margin: 0;
}
ol ol {
	list-style:lower-alpha;
	padding-bottom: 0;
	margin: 0;
}
ol li {
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}
ol li li {
	list-style-type:lower-alpha;
}
ol li li li {
	list-style-type:lower-roman;
}
ol li li li li {
	list-style-type:decimal;
}
dl {
	padding: 0 0 1.5em;
	line-height: 1.5em;
}
dt {
	font-weight: bold;
	padding: 0;
	margin: 0;
}
dd {
	padding: 0 0 0 2em;
	margin: 0;
}
/* =other tags
============================== */
img {
	vertical-align: bottom;
}
blockquote {
	margin:0;
	padding:0 25px 1.4em;
}
hr {
	background-color:#ddd;
	color:#ddd;
	border:0 none;
	height:1px;
	width: 90%;
	margin: 15px auto;
	clear: both;
}
table {
	border-collapse:collapse;
}
td {
	padding:0;
}
/* =Image Styles
============================== */
a img {
	border: 0 none;
}
*.imageLeft {
	float:left;
	margin: 0 10px 5px 0;
	border: 1px solid #cccccc;
	padding: 5px;
}
*.imageRight {
	float: right;
	margin: 0 0 10px 5px;
	border: 1px solid #cccccc;
	padding: 5px;
}
*.imageRightNoBorder {
	float:right;
	margin: 0 0 10px 5px;
}
*.imageBorder {
	padding: 2px;
	border: 1px solid #dcdcdc;
	margin-bottom:15px;
}
*.mainPhoto {
	padding: 2px;
	border: 1px solid #dcdcdc;
}
img.ui-datepicker-trigger {
	vertical-align: middle;
}
td.DonationCaptureFieldControlCell img {
	padding:0 0 2px 5px;
}
/* ==============================
   GLOBAL PAGE ALIGNMENT
============================== */

/* = Page Images and Background Colors
============================== */

*.container {
	min-height: 100%;
}
html, body {
	height: 100%;
	width: 100%;
}
* html .container {
	height: 100%;
}
* #form1 {
	height: 100%;
}
/* = One Column Layout
============================== */

#oneCol #contentPrimary {
	float: none;
	margin: 0 auto;
	width: 100%;
}
#oneCol #contentPrimary .gutter {
	padding: 12px 45px 0;
}
#oneCol #contentSecondary {
	display: none;
}
#oneCol #wrapFooterCopy {
	width: 100%;
	height: 39px;
	padding: 5px 0;
	text-align:center;
}
/* = Main Wrappers
============================== */
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height:1.4;
	font-family: 'Open Sans', sans-serif !important;
	color: #454545 !important;
	background-color: transparent !important;
}
#wrapContentOuter, #wrapFooter, #wrapMedia {
	width: 1200px; /* width of the site including shadow */
	margin: 0 auto;
}
*.bodyGutter, #wrapNav .bodyGutter, #wrapContentInner, #wrapNav .gutter, #header {
	width: 1180px; /* content width (minus shadow) */
	margin: 0 auto;
}
/* =Header
============================== */
#wrapHeader {
	width: 100%;
}
#internal.home #header { /* header gradient */
	position: relative;
	width: 1158px;
	margin: 0 auto;
	min-height: 0;
	background: none;
	left: 0;
}
#header { /* header gradient */
	position: relative;
	width: 1158px;
	margin: 0 auto;
	min-height: 245px;
	left: 10px;
	z-index: 999;
	background: url(//53725.schoolforms.org/image/header-background.jpg) bottom no-repeat transparent;
}
.headerContainer {
	margin: 0 auto;
	height: 245px;
	background: url(//53725.schoolforms.org/image/header-background.jpg) bottom no-repeat transparent;
	position: absolute;
	left: 9px;
	z-index: 999;
	width: 100%;
}
#header .bodyGutter {
	position:relative;
	width: 100%;
}
#headerLogo p {
	padding: 0;
}
#headerLogo {
	padding: 0;
	float:left;
	width: auto;
	margin: -22px 0 0;
}
span.logoWords {
	font-size: 39px;
	color: #bc1c19;
	font-family: 'Libre Baskerville', serif;
	vertical-align: middle;
}
#utility {
	float:right;
	padding: 0;
	width: auto;
	position: relative;
	text-align: right;
	top: 20px;
	right: 35px;
	clear: both;
}
#utility p {
	padding: 0;
}
* html #utility {
	width: 303px;
}
#headerUtility {
	padding: 0;
	position: absolute;
	height: 24px;
	background: #bc1c19;
	width: 100%;
	z-index: 999;
}
#headerUtility .bodyGutter {
	width: 1180;
	margin: 0 auto;
}
#headerUtility p {
	padding: 0;
}
* html #headerUtility {
	width: 303px;
}
*.threeColumns .lineHeightWrap {
	line-height: 18px;
	padding: 0;
	margin: 0;
}
/* =Primary Content Area
============================== */
#wrapContentOuter {
}
#internal.home #wrapContentOuter {
	position: relative;
}
#wrapContentInner {
	padding: 0;
	width: 1200px;
	min-height: 800px;
	margin: -25px auto 0;
	overflow: auto;
	background: url(//53725.schoolforms.org/image/Fullscreen_10_24_14_1_28_PM.png) no-repeat;
}
#internal.home #wrapContentInner {
	background: url(//53725.schoolforms.org/image/home_bg.jpg) top no-repeat;
	background: none;
	margin: 0;
	padding: 0;
}
#wrapContentInner .bodyGutter {
	padding: 15px 10px 50px 25px;
}
#internal.home #wrapContentInner .bodyGutter {
	padding: 0 0 0 18px;
}
*.contentGutter {
	padding: 0 36px;
}
#contentPrimary a {
	font-weight: bold;
}
#contentPrimary {
	float: right;
	width: 780px;
	margin: 0;
	min-height: 400px;
}
#contentPrimary .leftCol {
	width: 49%/*310px*/;
	float: left;
	line-height: 0;
}
#contentPrimary .rightCol {
	width:49%/*310px*/;
	float:right;
	line-height: 0;
}
#contentPrimary .singleCol {
	clear:both;
	width: 100%;
	line-height: 0;
}
#contentPrimary .leftCol *, #contentPrimary .rightCol *, #contentPrimary .singleCol * {
	line-height: 1.4em;
}
#contentPrimary .gutter {
	padding: 12px 45px 0 0;
}
/* =Secondary Content Area
============================== */
#contentSecondary {
	float: left;
	width:225px;
	margin: 0;
	min-height: 400px;
	padding: 0;
}
#contentSecondary .gutter {
	padding: 0;
	clear: both;
}
#contentSecondary h2 {
	padding: 5px 0 12px 12px;
}
.sidebarPhoto {
	margin-bottom: 65px;
}
/* =Footer
=============================== */
#wrapTop {
	width: 100%;
	background: url(//53725.schoolforms.org/image/footer-background.jpg) top no-repeat;
	clear: both;
	height: 81px;
}
#wrapFooter {
	width: 100%;
	background: #e7e7e7;
	clear: both;
}
#wrapFooterTwo {
	width: 100%;
	background: #fff;
	clear: both;
}
#wrapFooter .gutter {
	padding: 0;
	width: 1180px;
	margin: 0 auto;
}
#wrapFooterMenu {
	width: 100%;
	line-height: normal;
	padding-top: 25px;
}
#wrapFooterMenu .bodyGutter {
	width:100%;
	padding: 15px 0 10px;
}
#wrapFooterCopy {
	text-align: center;
	width: 100%;
}
#wrapFooterCopy .bodyGutter {
	width: 100%;
	padding: 0;
}
#wrapFooter h3 {
	color: #0575b6;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 15px;
	font-family: 'Libre Baskerville', serif;
}
*.footerMenuWrap *, *.footerContactWrap * {

}
*.footerContactWrap p {
	padding: 0 0 5px;
}
#wrapFooterCopy p {
	padding: 0;
}
/**** Footer Menu Wrap ****/
#internal.home *.footerMenuWrap {
	margin: 0;
	float:left;
	width: 425px;
	padding-left: 50px;
	padding-right: 55px;
}
/**** Footer Menu Wrap Two ****/
#internal.home *.footerMenuWrapTwo {
	margin: 0;
	float:left;
	width: 425px;
	padding-right: 100px;
}
/**** Footer Contact Wrap ****/
#internal.home *.footerContactWrap {
	margin: 0;
	float: right;
	width: 325px;
}
*.footerMenuWrap {
	width: 325px;
	float:left;
	margin: 0;
	padding-left: 50px;
	padding-right: 55px;
}
*.footerMenuWrapTwo {
	width: 325px;
	float:left;
	margin: 0;
	padding-right: 100px;
}
*.footerContactWrap {
	margin: 0;
	float: right;
	width: 325px;
}
*.footerContactWrap a:link, *.footerContactWrap a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
*.footerContactWrap a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
*.footerContactWrap a:active {
	text-decoration: none;
}
/**** Other Footer Styles ****/
*.footerContactBorderWrap {
	padding-right: 20px;
	height: 70px;
	width: auto;
	float: right;
}
/* = My Home Styles
============================== */
*.myHomeBox th.left, *.myHomeBox th.right {
	background: none !important;
}
*.myHomeBox td.left {
	background: none !important;
	padding: 8px 0 6px;
}
*.myHomeBox td.right {
	background: none !important;
	padding: 8px 12px 6px 6px;
}
*.myHomeBox {
	border-collapse: collapse;
	margin: 0 0 2em;
	padding: 0;
}
*.myHomeBox th.ProfileDisplayFieldCaption {
	width: 120px;
}
*.myHomeBox td {
	border-collapse: collapse;
	font-size:12px;
}
*.myHomeBox td p, *.myHomeBox td h3 {
	margin: 0;
	padding: 0;
}
*.myHomeBox th.left {
	width: 8px;
	padding: 8px 0 6px;
}
*.myHomeBox th.right {
	padding: 8px 12px 6px 6px;
	width: 600px;
	text-align: left;
}
/* ============================
    menus
============================*/

/* =Utility Menu
============================== */
/* = list based menu*/
*.utilityMenuList {
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	text-align: center;
}
*.utilityMenuList li {
	display: inline;
	width: auto;
}
*.utilityMenuList li.menuItem1.first:before {
	content: url(//53725.schoolforms.org/image/leaf.png);
}
*.utilityMenuList li a {
	color: #fff;
	font-size: 12px;
	text-decoration:none;
	padding: 0 6px 0 7px;
	border-right: 1px solid #fff;
	line-height: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
*.utilityMenuList li.last a {
	border: 0 none;
}
/* =utility menu */
.utilityMenu,
.quickSearch {
	float: right;
	position: relative;
	z-index: 999;
}
.utilityMenu {
	margin-top: 1px;
}
/*QuickSearch */
.QuickSearchFormTable {
	border: 1px solid #cdcdcd;
}
.quickSearch {
	margin: 1px 35px 0 25px;
}
.QuickSearchTextbox {
	border: none;
	background: transparent;
	margin-right: 5px;
	color: #fff;
	padding: 0 0 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
}
.QuickSearchButton {
	background: url(//53725.schoolforms.org/image/search.png) no-repeat 0 0;
	border: none;
	width: 20px;
	height: 20px;
	display: block;
	padding: 0;
	text-indent: -9999px;
	cursor: pointer;
}
#headerUtility .menu {
	margin: 0 auto;
	padding: 0;
	border-collapse:collapse;
	display: block;
	height: 18px;
}
#headerUtility .menu li {
	display: block;
	padding-right: 0;
	line-height: 24px;
	float: left;
}
#headerUtility .menu li.first a {
}
* html #headerUtility .menu {
	margin:0;
}
*:first-child+html #headerUtility .menu {
	margin:0;
}
#headerUtility .menu li.last a {
	border: none;
}
/* =Main Menu
============================== */

/* =Main Navigation
============================== */
#wrapNav {
	width: 100%;
	padding-left: 10px;
}
#wrapNav .gutter {
	line-height: 0;
	margin: 0 auto;
}
#wrapNav .gutter * {
	line-height: normal;
}
#wrapNav img {
	vertical-align: baseline;
}
/* MainMenu List Based*/
#wrapNav .menu {
	margin:0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
}
#wrapNav .menu li {
	position: relative;
	float: left;
	padding: 0;
}
#wrapNav .menu li.last {
	border: 0 none;
	float: right;
	margin: -20px 15px 0 0;
}
.menuVisit {
	font-weight: 600;
	font-size: 16px;
}
.menuTempleSinai {
	font-weight: 700;
	font-size: 21px;
}
#wrapNav .menu li.last:hover {
	background: transparent;
}
/*** List Sub Menus ****/
#wrapNav .menu .nccUlMenuSub1 {
	position: absolute;
	left: -50000px;
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	border-top: 5px solid #bb1c19;
	border-bottom: 5px solid #bb1c19;
}
#wrapNav .menu li:hover .nccUlMenuSub1, #wrapNav .menu li.hover .nccUlMenuSub1 {
	top: 54px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 175px;
}
#wrapNav .menu li:hover ul li {
	width: 100%;
}
#wrapNav .menu li:hover ul li a {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	border-bottom: none;
}
#wrapNav .menu ul {
	background: #fff;
}
#wrapNav .menu li .nccUlMenuSub1 li {
	background-color: #ffffff;
	float: left;
	text-align: left;
	border-bottom: 1px solid #cdcdcd;
	width:206px;
	height:auto;
	padding:0;
	margin: 0;
}
#wrapNav .menu li .nccUlMenuSub1 li.last {
}
#wrapNav .menu li .nccUlMenuSub1 li a {
	font-family: inherit;
	font-size: 11px;
	text-transform: none;
	display: block;
	padding: 5px;
	background-color: #ffffff;
	text-align: left;
	color: #333333;
	text-decoration: none;
}
#wrapNav .menu li .nccUlMenuSub1 li:hover, #wrapNav .menu li .nccUlMenuSub1 li:hover a, #wrapNav .menu li .nccUlMenuSub1 li.hover, #wrapNav .menu li .nccUlMenuSub1 li.hover a {
	color: #ffffff;
}
#wrapNav .menu li:hover ul li:hover > a {
	background-color: #e0e0e0;
	color: #333;
	border-radius: 0;
		-webkit-border-radius: 0;
			-moz-border-radius: 0;
}
/** List 2nd Sub **/
*.nccUlMenuSub2 {
	position: absolute;
	left: -50000px;
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}
*.nccUlMenuSub2 li {
	padding: 0;
	margin: 0;
}
#wrapNav .menu li .nccUlMenuSub1 li:hover .nccUlMenuSub2, #wrapNav .menu li .nccUlMenuSub1 li.hover .nccUlMenuSub2 {
	left: 207px;
	top: 0;
}
#wrapNav .menu li .nccUlMenuSub1 li:hover .nccUlMenuSub2 li a, #wrapNav .menu li .nccUlMenuSub1 li.hover .nccUlMenuSub2 li a {
	background-color: #ffffff;
	color: #333333;
}
#wrapNav .menu li .nccUlMenuSub1 li .nccUlMenuSub2 li:hover, #wrapNav .menu li .nccUlMenuSub2 li:hover a, #wrapNav .menu li .nccUlMenuSub1 li .nccUlMenuSub2 li.hover, #wrapNav .menu li .nccUlMenuSub1 li .nccUlMenuSub2 li.hover a {
	color: #ffffff;
	background: #7a7a7a;
}
 /*breadcrumbs menu */
.breadcrumbs {
	margin: 0;
	padding: 0 0 30px;
}
.breadcrumbs .menu.mainMenu {
	list-style: none;
	padding: 0;
}
.breadcrumbs .menu.mainMenu li {
	display: none;
}
.breadcrumbs .menu.mainMenu li.selected {
	display: inline;
}
.breadcrumbs .menu.mainMenu li.parent.selected a {

}
.breadcrumbs .menu.mainMenu li.selected a {
	float: left;
	padding: 0;
	text-decoration: none !important;
	color: #454545;
	font-weight: normal !important;
	font-size: 12px;
}
.breadcrumbs .menu.mainMenu li.parent.selected a:after {
	content: '/';
	padding: 0 5px;
}
.breadcrumbs .menu.mainMenu li.parent.selected ul li.selected a:after {
	content: '';
}
/*Secondary Menu */
#contentSecondary .menu.mainMenu {
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
}
#contentSecondary .menu.mainMenu li {
	display: none;
}
#contentSecondary .menu.mainMenu li.selected,
#contentSecondary .menu.mainMenu li.selected li {
	display: block;
}
#contentSecondary .menu.mainMenu li.parent.selected a {
	padding: 5px 0;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	color: #bc1c19;
	font-family: 'Libre Baskerville', serif;
}
#contentSecondary .menu.mainMenu li.parent > a {
	border-bottom: 1px dotted #cdcdcd;
}
#contentSecondary .menu.mainMenu li.selected li a {
	padding: 0 15px 0 !important;
	color: #454545 !important;
	font-size: 13px !important;
}
#contentSecondary .menu.mainMenu li.selected li a:hover {
	background: #e7e7e7;
}
/*Sidebar Buttons */
.sidebarButton {
	clear: both;
	display: block;
	margin: 5px 0;
	padding: 5px 20px;
	width: 225px;
	background: red;
	color: #fff;
	text-transform: capitalize;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
	background: #e45050; /* Old browsers */
	background: -moz-linear-gradient(top, #e45050 0%, #d52020 42%, #ae1a1a 64%, #ad1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e45050), color-stop(42%,#d52020), color-stop(64%,#ae1a1a), color-stop(100%,#ad1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45050', endColorstr='#ad1b1b',GradientType=0 ); /* IE6-9 */
}
.sidebarButton:hover,
.carousel-caption-body a:hover {
	text-decoration: none;
}
/* =Internal Menu
============================== */
 /* ul styles */
 
 /*top ul */
 #contentSecondary .menu {
	width: 265px;
	float: left;
	margin: 0;
	padding-left: 0;
}
/* second level ul */
 #contentSecondary .menu ul {
	display: none;
	margin: 0;
	padding: 0;
}
#contentSecondary .menu li.selected ul {
	display: block;
}
/* li styles */
 
 #contentSecondary .menu li {
	display:block;
	background-color:#ffffff;
}
/* second li */
 #contentSecondary .menu li.selected ul li {
	border-bottom: 1px dotted #cdcdcd;
	padding: 5px 0;
}
#contentSecondary .menu li.selected li.first:hover {
	border-top: 0 none;
}
/* a styles */
 
 

  #contentSecondary .menu li.selected ul li a {
	border-bottom: 0 none;
	padding-left: 40px;
}
#contentSecondary .menu li.selected ul li.first:hover a {
	border-top: 0 none;
	padding-top: 12px;
}
/* =Footer Menu
============================== */
*.footerMenu {
	height: 70px;
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	float: left;
	width: auto;
}
*.footerMenu li {
	float: left;
	padding: 0 10px 0;
	margin: 0;
}
*.footerMenu li.last {
	border-right: 0 none;
}
*.footerMenu li a {
	color: #999;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
*.footerMenu li:hover a, .footerMenu li:hover a:hover, *.footerMenu li.hover a, *.footerMenu li.hover a:hover {
	cursor: default;
	text-decoration: underline;
}
*.footerMenu .nccUlMenuSub1 {
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	border: 0 none;
}
*.footerMenu li .nccUlMenuSub1 li {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 0 none;
}
*.footerMenu li .nccUlMenuSub1 li a {
	text-decoration: underline;
	font-size: 11px;
	font-weight: normal;
}
.BBBackToDirectoryLink {
	padding-bottom: 10px;
	display: block;
}

/*Custom Styles */
.floatLeft {
	float: left;
	padding: 0 15px 10px 0;
}
.floatRight {
	float: right;
	padding: 0 0 10px 5px;
}

.contentMainOne {
	float: left;
	display: block;
	width: 25%;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 25px;
}
.contentMainTwo {
	float: left;
	display: block;
	width: 35%;
	margin-right: 2%;
	padding-top: 25px;
}
.contentMainThree {
	float: right;
	display: block;
	width: 25%;
	margin-right: 7%;
	padding-top: 25px;
}
.contentMainThree h4 {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}
.contentMainThree img {
	padding-bottom: 10px;
}
.contentMainOne hr,
.contentMainTwo hr,
.contentMainThree hr {
	width: 100%;
	border-top: 2px dotted #999;
	margin: 0 auto 15px;
	height: 0;
	background-color: transparent;
}
.contentMainOne h3,
.contentMainTwo h3,
.contentMainThree h3 {
	color: #bc1c19;
	clear: none;
}
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
.contentSlideshow {
	width: 1140px;
	margin: 0 auto;
	padding: 32px 0 0;
	min-height: 640px;
}
.ProfileDisplayFormTable tr td {
	padding-bottom: 10px;
}
.bbAthMgrFieldCaption,
.bbAthMgrFieldData {
	display: inline-block;
	padding-bottom: 15px;
}
.ChannelStoryEditButtonWAI {
	padding-right: 10px;
}
div[id*='divAthSettings'] {
	margin: 0 0 25px;
}
span[id*='lblManagingType'] {
	font-weight: bold;
	font-size: 18px;
}
.ECardSection {
	padding: 0 0 20px;
}
.BBMessage,
.ClassAssignmentsToolbar,
.ClassAnnouncementsTitle,
.ClassPageRosterTitle,
.ClassBlogTitle,
.ClassResourcesTitleToolbar,
.ClassAveragesToolbar,
.UPMPartEditToolbar,
.TeamRosterToolbar,
.TeamCoachesToolbar,
.TeamCalendarToolbar,
.NewsChannelItemTitle {
	padding: 1em 0;
	color: #bc1c19;
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
	font-size: 21px;
	margin: 0 0 6px;
	text-transform: none;
} 
.ClassPageHeaderToolbar {
	display: none;
}

/* Carousel Classes */
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
	position: absolute;
	bottom: 5%;
	left: 40%;
	z-index: 15;
	width: 10%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
	background: url(//53725.schoolforms.org/image/slide_bg.jpg) no-repeat;
	position: absolute;
	height: 400px;
	width: 300px;
	left: -20px;
	bottom: 0;
	z-index: 10;
}
.carousel-caption .sidebarButton {
	clear: both;
	display: block;
	margin: 25px auto 0;
	padding: 10px;
	width: 50%;
	text-align: center;
	font-size: 15px;
	color: #fff;
	text-transform: capitalize;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #e45050;
	background: -moz-linear-gradient(top, #e45050 0%, #d52020 42%, #ae1a1a 64%, #ad1b1b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e45050), color-stop(42%,#d52020), color-stop(64%,#ae1a1a), color-stop(100%,#ad1b1b));
	background: -webkit-linear-gradient(top, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%);
	background: -o-linear-gradient(top, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%);
	background: -ms-linear-gradient(top, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%);
	background: linear-gradient(to bottom, #e45050 0%,#d52020 42%,#ae1a1a 64%,#ad1b1b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45050', endColorstr='#ad1b1b',GradientType=0 );
}
.carousel-caption-body {
	position: relative;
	top: 32%;
	left: 20%;
	width: 225px;
	color: #ffffff;
}
.carousel-caption-body h3 {
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Libre Baskerville', serif;
}
.carousel-caption .btn {
  text-shadow: none;
}